body{
  background-color: #222831;
}
.todo{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 100px;
  
  
}

h1{
  font-size: 70px;
  color: #00ADB5;
}

.add-btn  {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #00ADB5;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.add-btn:hover{
  color: #393E46;
}

.deletebtn{
  font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: rgb(252, 10, 10);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.deletebtn:hover{
  color: #393E46;
}

input[type ="text"]{
  font-size: 1.6rem;
  border-radius: 10px;
  padding: 10px;
  color: rgb(5, 7, 7);
  border-color: #00ADB5;
}

ol{
 display: block;
  margin-left: 350px;
  margin-right: 350px;
  padding-left: 100px;
  padding-right: 100px;
}

li{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  background-color: #EEEEEE;
  margin-bottom: 10px;
  border: 5px;
  border-radius: 10px;
}

.text{
 
  align-items: center;
  flex: 1;
}

.updatebtn{
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 10px ;
  background-color: rgb(5, 68, 110);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  
}

